<!-- the NewContact Screen -->
<html>
<head>
<title>New Contact</title>
<style>
form { width: 400px; }
label { float: left; width: 200px; }
input[type=text] { width: 30%;
  padding: 15px 15px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
 }
.clear { clear: both; height: 0; line-height: 0; }
.floatright { float: right; }
</style>

</head>

<body>
<h2>Create new Contact</h2>

<form>
<label for="firstname">Time Spent</label> 		<input type="text" name="firstname" /><br/>
<label for="surname">Harmful duration</label> 	<input type="text" name="surname" /><br/>
<label for="mobile">Time of sitting</label> 	<input type="text" name="mobile" /><br/>
<label for="home">Time spent of looking</label>		<input type="text" name="home" /><br/>
</form>

</body>
</html>
